ASPNETCORE_ENVIRONMENT=Development
API_PORT=5000

KAFKA_BOOTSTRAP_SERVERS=localhost:19092
KAFKA_TELEMETRY_TOPIC=telemetry.raw
KAFKA_CONSUMER_GROUP=telemetry-processor

TIMESCALEDB_CONNECTION_STRING=Host=localhost;Port=5432;Database=fleet;Username=fleet;Password=fleet
